.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(214, 225, 242, 0.651);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.admin-modal {
  background: #5c4671;
  width: 500px;
  padding: 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 1001;
  font-family: "inter";
  color: #c7d8f4;
  overflow-x: hidden;

}

.admin-modal-title {
  font-family: "better vcr";
  font-size: 24px;
  text-align: center;
  margin: 0;
  color: #c7d8f4;
}


.search {
  width: 100%;
  padding: 0.7rem 1rem;
  border: none;
  outline: none;
  border-radius: 8px;
  background: #c7d8f4;
  color: #5c4671;
  font-family: "inter";
  font-size: 15px;
  box-sizing: border-box;
}

.search::placeholder {
  color: #5c4671;
}


.post-index {
  height: 380px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 6px;
}


.post-index::-webkit-scrollbar {
  width: 8px;
}

.post-index::-webkit-scrollbar-thumb {
  background: #9db2d4;
  border-radius: 10px;
}

.post-index::-webkit-scrollbar-track {
  background: transparent;
}


.post-item {
  appearance: none;
  overflow-wrap: break-word;
  word-break: normal;
  white-space: pre-wrap;
  border: none;
  width: 100%;
  padding: 0.9rem 1rem;
  text-align: left;
  background: #c7d8f4;
  color: #5c4671;
  border-radius: 8px;
  font-family: "inter";
  font-size: 15px;
  font-weight: 600;
  text-transform: lowercase;
  cursor: url("/public/pointer.svg") 16 16, auto;

  transition:
      background 0.2s ease,
      transform 0.15s ease;
}

.post-item:hover {
  transform: scale(0.95, 0.95);
}

.post-item:active {
  transform: scale(0.9, 0.9);
}


.cancel {
  appearance: none;
  border: none;
  cursor: url("/public/pointer.svg") 16 16, auto;
  position: relative;
  color: #5c4671;
  font-family: "better vcr";
  font-size: 18px;
  text-align: center;
  background-color: #c7d8f4;
  width: 220px;
  padding: 0.4rem 0;
  border-radius: 5px;
  margin: 0.5rem auto 0;
  box-shadow:
      inset 0 1px 0 #9db2d4,
      0 10px 0 #9db4d8;

  transition: top 0.1s;
}

.cancel:active {
  top: 10px;
  box-shadow:
      inset 0 -3px 0 #9db2d4;
}