@font-face {
    font-family: "inter";
    src: url('/fonts/InterDisplay-Light.ttf') format("truetype");
  }

  @font-face {
    font-family: "better vcr";
    src: url('/fonts/better_vcr.ttf') format("truetype");
  }